.ms-footer{
  background:#0b2c4d;
  color:#cbd5e1;
}

/* FOOTER CONTAINER */
.footer-container{
  max-width:1200px;
  margin:auto;
  padding:70px 20px 50px;
}

/* GRID */
.footer-grid{
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr;
  gap:40px;
}

/* COLUMNS */
.footer-col h3{
  font-size:26px;
  margin-bottom:15px;
  color:#fff;
}

.footer-col h3 span{
  color:#3df2f2;
}

.footer-col h4{
  font-size:18px;
  margin-bottom:16px;
  color:#fff;
}

.footer-col p{
  font-size:15px;
  line-height:1.7;
  color:#cbd5e1;
}

.footer-col ul{
  list-style:none;
  padding:0;
  margin:0;
}

.footer-col ul li{
  margin-bottom:10px;
}

.footer-col ul li a{
  color:#cbd5e1;
  text-decoration:none;
  font-size:15px;
  transition:.25s ease;
}

.footer-col ul li a:hover{
  color:#3df2f2;
  padding-left:6px;
}

/* BOTTOM */
.footer-bottom{
  border-top:1px solid rgba(255,255,255,0.15);
  text-align:center;
  padding:18px;
  font-size:14px;
  color:#9ca3af;
}

/* RESPONSIVE */
@media(max-width:991px){
  .footer-grid{
    grid-template-columns:1fr 1fr;
  }
}

@media(max-width:575px){
  .footer-grid{
    grid-template-columns:1fr;
    text-align:center;
  }

  .footer-col ul li a:hover{
    padding-left:0;
  }
}
