/* ================= FOOTER ================= */

.ms-footer{
  background:linear-gradient(260deg,#3df2f2,#a8fa2d);
  color:#222;
}

/* FOOTER CONTAINER */
.footer-container{
  max-width:1200px;
  margin:auto;
  padding:70px 20px 50px;
}

/* GRID */
.footer-grid{
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr;
  gap:40px;
}

/* COLUMNS */
.footer-col h3{
  font-size:26px;
  margin-bottom:15px;
  color:#141010;
}

.footer-col h3 span{
  color:#111616;
}

.footer-col h4{
  font-size:18px;
  margin-bottom:16px;
  color:#222;
}

.footer-col p{
  font-size:15px;
  line-height:1.7;
  color:#222;
}

.footer-col ul{
  list-style:none;
  padding:0;
  margin:0;
}

.footer-col ul li{
  margin-bottom:10px;
}

.footer-col ul li a{
  color:#222;
  text-decoration:none;
  font-size:15px;
  transition:.25s ease;
}

.footer-col ul li a:hover{
  color:#222;
  padding-left:6px;
}

/* BOTTOM */
.footer-bottom{
  border-top:1px solid rgba(15,15,15,0.15);
  text-align:center;
  padding:18px;
  font-size:14px;
  color:#222;
}

/* ================= WHATSAPP FLOAT ================= */
.whatsapp-float{
  position:fixed;
  right:22px;
  bottom:22px;
  width:58px;
  height:58px;
  background:#25D366;
  color:#fff;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:30px;
  box-shadow:0 12px 30px rgba(37,211,102,.45);
  z-index:9999;
  transition:.25s ease;
  text-decoration:none;
}

.whatsapp-float:hover{
  transform:translateY(-4px) scale(1.05);
  box-shadow:0 16px 40px rgba(193, 206, 197, 0.6);
}

.whatsapp-float::after{
  content:"";
  position:absolute;
  inset:-6px;
  border-radius:50%;
  border:2px solid rgba(37,211,102,.6);
  animation:ringWave 2.5s infinite;
}

@keyframes ringWave{
  0%{
    transform:scale(0.8);
    opacity:1;
  }
  100%{
    transform:scale(1.6);
    opacity:0;
  }
}


/* RESPONSIVE */
@media(max-width:991px){
  .footer-grid{
    grid-template-columns:1fr 1fr;
  }
}

@media(max-width:575px){
  .footer-grid{
    grid-template-columns:1fr;
    text-align:center;
  }

  .footer-col ul li a:hover{
    padding-left:0;
  }

  .whatsapp-float{
    width:52px;
    height:52px;
    font-size:26px;
    right:16px;
    bottom:16px;
  }
}
